<p-panel header="เงื่อนไขการค้นหา">
  <form [formGroup]="employeeForm">
    <div class="grid">
      <div class="col-2">แผนก</div>
      <div class="col-4">
        <p-dropdown
          placeholder="เลือกแผนก"
          [options]="departments"
          formControlName="department"
          optionLabel="name"
        >
        </p-dropdown>
      </div>
    </div>
    <div class="grid">
      <div class="col-2">เพศ</div>
      <div class="col-6">
        <div class="grid">
          <div *ngFor="let item of Gender | keyvalue" class="col-2">
            <p-radioButton
              [value]="item.value"
              [label]="item.value | gender"
              formControlName="gender"
            >
            </p-radioButton>
          </div>
        </div>
      </div>
    </div>
    <div class="grid">
      <div class="col-2">ชื่อ</div>
      <div class="col-4">
        <input type="text" pInputText formControlName="firstName" />
      </div>
    </div>
    <div class="grid">
      <div class="col-2">นามสกุล</div>
      <div class="col-4">
        <input type="text" pInputText formControlName="lastName" />
      </div>
    </div>
  </form>
  <div class="grid gap-2 mt-3 mb-3 ml-6">
    <button
      pButton
      pRipple
      label="เริ่มใหม่"
      icon="pi pi-refresh"
      class="p-button-info"
      (click)="resetForm()"
    ></button>
    <button
      pButton
      pRipple
      label="ค้นหา"
      icon="pi pi-search"
      (click)="onSearch()"
    ></button>
    <button
      class="ml-auto"
      pButton
      pRipple
      label="พิมพ์"
      icon="pi pi-print"
      (click)="onPrint()"
    ></button>
  </div>

  <p-table [value]="employees" [(selection)]="selectedEmployees" dataKey="id">
    <ng-template pTemplate="caption"
      ><div class="grid gap-2">
        <button
          pButton
          pRipple
          label="ลบที่เลือก"
          icon="pi pi-trash"
          class="p-button-danger"
          (click)="deleteEmployees()"
        ></button>
        <button
          pButton
          pRipple
          label="เพิ่มข้อมูล"
          icon="pi pi-plus"
          class="p-button-success ml-auto"
          (click)="gotoSave()"
        ></button></div
    ></ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 3rem" id="checkbox">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>
        <th>ชื่อ</th>
        <th>นามสกุล</th>
        <th>เพศ</th>
        <th>แผนก</th>
        <th>ดำเนินการ</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-employee>
      <tr>
        <td>
          <p-tableCheckbox [value]="employee"></p-tableCheckbox>
        </td>
        <td>{{ employee.firstName }}</td>
        <td>{{ employee.lastName }}</td>
        <td>{{ employee.gender | gender }}</td>
        <td>{{ employee.department.name }}</td>
        <td class="flex-space-around">
          <a [routerLink]="['/employee/edit', employee.id]"
            ><button
              type="button"
              pButton
              pRipple
              icon="pi pi-pencil"
              class="mr-2"
              pTooltip="Edit"
              tooltipPosition="right"
            ></button>
          </a>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="8" style="color: red">ไม่พบข้อมูลพนักงาน</td>
      </tr>
    </ng-template>
  </p-table>
</p-panel>
<div *ngIf="loading" class="card flex justify-content-center">
  <p-progressSpinner
    styleClass="w-4rem h-4rem"
    strokeWidth="8"
    fill="var(--surface-ground)"
    animationDuration=".5s"
  ></p-progressSpinner>
</div>
