<p-panel header="{{ mode }}">
  <form [formGroup]="employeeForm">
    <div class="grid">
      <div class="col-2">แผนก</div>
      <div class="col-4">
        <p-dropdown
          placeholder="Select a Department"
          [options]="departments"
          formControlName="department"
          optionLabel="name"
        >
        </p-dropdown>
        <small
          *ngIf="employeeForm.get('department')?.invalid"
          id="department-help"
          class="p-error block"
        >
          <em class="pi pi-times-circle"></em> Field is required.
        </small>
        <!-- {{employeeForm.get('department')?.valid | json}} -->
      </div>
    </div>
    <div class="grid">
      <div class="col-2">เพศ</div>
      <div class="col-6">
        <div class="grid">
          <div *ngFor="let item of Gender | keyvalue" class="col-2">
            <p-radioButton
              [value]="item.value"
              [label]="item.value | gender"
              formControlName="gender"
            >
            </p-radioButton>
          </div>
        </div>
      </div>
    </div>
    <div class="grid">
      <div class="col-2">ชื่อ</div>
      <div class="col-4">
        <input type="text" pInputText formControlName="firstName" />
        <small
          *ngIf="employeeForm.get('firstName')?.errors?.['required']"
          id="firstName-help"
          class="p-error block"
        >
          <em class="pi pi-times-circle"></em> Field is required.
        </small>
        <small
          *ngIf="employeeForm.get('firstName')?.errors?.['minlength']"
          id="firstName-help"
          class="p-error block"
        >
          <em class="pi pi-times-circle"></em> Field has minlength
          {{employeeForm.get('firstName')?.errors?.['minlength']?.requiredLength





          }}.
        </small>
      </div>
    </div>
    <div class="grid">
      <div class="col-2">นามสกุล</div>
      <div class="col-4">
        <input type="text" pInputText formControlName="lastName" />
        <small
          *ngIf="employeeForm.get('lastName')?.invalid"
          id="lastName-help"
          class="p-error block"
        >
          <em class="pi pi-times-circle"></em> Field is required.
        </small>
      </div>
    </div>
    <div class="grid gap-3 mt-2">
      <div class="grid-col">
        <button
          pButton
          pRipple
          label="เริ่มใหม่"
          icon="pi pi-refresh"
          (click)="resetForm()"
        ></button>
      </div>
      <div class="grid-col">
        <button
          pButton
          pRipple
          [loading]="isLoading"
          label="บันทึก"
          icon="pi pi-save"
          class="p-button-success"
          (click)="saveEmployee()"
        ></button>
      </div>
      <div class="grid-col" *ngIf="Mode.EDIT === mode">
        <button
          pButton
          pRipple
          label="ลบ"
          icon="pi pi-trash"
          class="p-button-danger"
          (click)="deleteEmployee()"
        ></button>
      </div>
      <div class="grid-col ml-auto">
        <button
          pButton
          pRipple
          label="พิมพ์"
          icon="pi pi-print"
          (click)="onPrint()"
        ></button>
      </div>
    </div>
  </form>
</p-panel>
